body 
{ 
    margin: 0; 
    height: 100vh; 
    width: 100vw; 
    cursor: move;
} 
debuggers 
{ 
    max-width: 100%; 
    width: 100vw; 
    height: 36px; 
    bottom: 0px; 
    background: aliceblue; 
    position: fixed; 
    display: inline-block; 
    z-index: 2;
    background-color: #0d0d0d;
} 
debuggers > div
{ 
    height: 100%; 
    display: inline-block; 
    position: relative; 
    vertical-align: top;
    margin-right: 4px;
} 
debuggers > div:not(.bugger):not(.burger):not(.tan) 
{ 
    width: 36px; 
} 
debuggers > div > .rotate 
{ 
    width: 2px; 
    height: 72%; 
    top: 14%; 
    left: calc(50% - 2px); 
    background: #df4876; 
    position: absolute; 
} 
debuggers > div > span 
{ 
    height: 100%; 
    font-size: 16px;
    font-family: "consolas";
    display: inline-block;
    color: azure;
    margin-left: 8px;
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    line-height: 2;
} 
debuggers > #barra_de_salud 
{
    margin-right: 0;
    width: calc(100% - 484px);
    height: 12px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0 2px;
    box-sizing: content-box;
    margin-top: 11px;
}
debuggers > #barra_de_salud > #salud
{
    background-color: red;
    margin-top: 2px;
    height: 8px;
    width: 100%;
}
display
{
    width: 210px;
    height: 220px;
    display: block;
    position: absolute;
    right: 20px;
    background-color: #97736f;
    top: 14px;
    opacity: 0.4;
    padding: 7px 2px;
    box-sizing: border-box;
    border-top: 6px double black;
    z-index: 2;
}
display map svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
display log {
    width: 100%;
    height: 58px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #01021334;
    padding: 13px 20px 12px 20px;
    box-sizing: border-box;
    color: #fdd9aa;
    font-family: consolas;
    white-space: nowrap;
    overflow: hidden;
}
display img{
    width: 100%;
    height: 148px;
    position: absolute;
    bottom: 7px;
    left: 0;
    object-fit: contain;
}
display div{
    height: 30px;
    position: absolute;
    bottom: -30px;
    width: 100%;
    left: 0;
}
display div button{
    height: 100%;
    border: 1px solid black;
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(240, 240, 240)
}
display div button:hover{
    border-style: solid;
    border-color: #ccc;
}
display div button:focus{
    border: 1px solid black;
}
#acquire:active {
    border: 2px dashed #a6a6a6 !important;
}
#refuse:active {
    border: 2px dashed #565656 !important;
}
#Throw{
    position: absolute;
    z-index: 2;
    height: 28px;
}